.page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #feffff, #3f4146ad);
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #feffff, #8f8f8f);
}

.form {
    width: 800px;
    height: 600px;
    background-image: linear-gradient(to bottom, #424242, #212121);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    justify-content: space-around;
}


.title {
    color: wheat;
    margin: 3rem 0;
    font-size: 2rem;
}

.label {
    width: 50%;
    height: 10px;
    margin-bottom: 10%;
}

.input {
    margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    width: 20rem;
    background-color: inherit;
    color: wheat;
    border: none;
    outline: none;

}

.username {
    border-bottom: 1px solid wheat;
    transition: all 400ms;
}

.username:hover {
    background-color: #424242;
    border: none;
    border-radius: 0.5rem;
}

.email {
    border-bottom: 1px solid wheat;
    transition: all 400ms;
}

.email:hover {
    background-color: #424242;
    border: none;
    border-radius: 0.5rem;
}

.btn {
    height: 3rem;
    width: 20rem;
    margin-top: 3rem;
    background-color: wheat;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    transition: all 400ms;
    box-shadow: 0 0 10px antiquewhite, 0 0 10px antiquewhite;
}

.btn:hover {
    background-color: antiquewhite;
    box-shadow: none;
}