.html body{
  margin: 0;
  padding: 0;
  line-height: 0;
  background-color: rgba(37, 37, 37, 0.739);
}


.navbar{
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  background-color: transparent;
}

.children{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(74, 74, 74, 0.781);
  color: white;
  margin: 0;
}

.button{
  justify-content: center;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  border: 0px;
  color: white;
}

.link{
  padding: 5px;
}

.footer{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
  bottom: 0;
  background-color: black;
}

.html body{
  margin: 0;
  padding: 0;
  line-height: 0;
  background-color: rgba(37, 37, 37, 0.739);
}


.navbar{
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  background-color: transparent;
}

.children{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(74, 74, 74, 0.781);
  color: white;
  margin: 0;
}

.button{
  justify-content: center;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  border: 0px;
  color: white;
}

.link{
  padding: 5px;
}

.footer{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
  bottom: 0;
  background-color: black;
}