

.html body {
  margin: 0;
  padding: 0;
  line-height: 0;
  background-color: rgba(230, 230, 230, 0.739);
}


.navbar {
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 11%;
  background-color: #284B63;
  /* font-size: 50px; */

}
.logo{
  width: 7%;
  height: 100%;
  position: absolute;
  top:5;
  right: 85%;
color: white;
font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
padding: auto;
text-align: center;
box-sizing: border-box;
  background-image: url('../img/Circulo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.children {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(74, 74, 74, 0.781);
  color: white;
  margin: 0;
}
.sections{
  width: 100%;
}

.button {
  justify-content: center;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  border: 0px;
  color: white;
  font-size: 17px;
  margin: 0 2em 0 2em; 
}

.button:hover{
  cursor: pointer;
}
.link {
  padding: 5px;

}

.footer {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
  bottom: 0;
  background: linear-gradient(to top, #feffff, #ffffff);
}

.footer ul {
  list-style: none;

}

.example {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example .iconcontent {
  margin: 0 10px;
  position: relative;
}

.example .iconcontent .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}

.example .iconcontent:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}

.example .iconcontent a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background: linear-gradient(to top, #feffff, #ffffff);
  transition: all 0.3s ease-in-out;
}

.example .iconcontent a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example .iconcontent a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.example .iconcontent a:hover {
  color: white;
}

.example .iconcontent a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.example .iconcontent a:hover .filled {
  height: 100%;
}

.example .iconcontent a[data-social="Whatsapp"] .filled,
.example .iconcontent a[data-social="Whatsapp"]~.tooltip {
  background-color: #1db954;
}

.example .iconcontent a[data-social="Youtube"] .filled,
.example .iconcontent a[data-social="Youtube"]~.tooltip {
  background-color: #bd081c;
}

.example .iconcontent a[data-social="dribbble"] .filled,
.example .iconcontent a[data-social="dribbble"]~.tooltip {
  background-color: #ea4c89;
}

.example .iconcontent a[data-social="linkedin"] .filled,
.example .iconcontent a[data-social="linkedin"]~.tooltip {
  background-color: #0058cc;
}

.nombre {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 10px;
  position: relative;
  margin-top: auto;
}

.imgC {
  width: 20px;
  height: 20px;
  justify-content: left;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 0px 0px 10px 0px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #FFF;
  background-color:#1ab152;
    
    animation: shake 1s;

 
  animation-iteration-count: infinite;
}

.my-float{
	margin-top:16px;
}
