.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30%;
}

.page1{
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

.page2{
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

.page3{
    width: 100%;
    height: 100vh;
    background-color: transparent;
}