.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin-top: 4%;
    background-color: #284B63;
    flex-wrap: wrap;
}

.page1 {
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.left,
.right {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.left {
    color: white;
    padding: 2em;
}

.title {
    margin-top: 20%;
    font-size: 40px;
    height: 40%;
}

.title h1 {
    height: 80%;
    font: 18px;
    line-height: 75px;
    margin-bottom: 20px;
    color: #76d9df;
}

.pp {

    font: 18px;
    line-height: 20px;
    color: white;

}

.p {

    font: 18px;
    line-height: 20px;
    color: gray;
    width: 90%;

}

.right {
    background-image: url('../img/pngegg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.page2 {
    width: 98.9vw;
    height: 110vh;
    background-color: #E6E6E6;
    padding-top: 8%;
    margin: auto;
    margin-bottom: 0;

}

.services {
    height: 80%;

    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;
    box-sizing: border-box;
}

.service {
    height: 30%;
    width: 35%;
    padding: 2%;
    box-sizing: border-box;
    text-align: center;

}

.h3 {
    text-transform: uppercase;
    color: #1e3638;
}

.title2 {

    width: 60%;
    text-align: center;
    height: 15%;
    box-sizing: border-box;
    padding: 1%;
    margin: auto;


}

.h2 {
    color: #1e3638;
    font-size: 40px;
    margin-bottom: 4%;
    text-transform: uppercase;
    display: flexbox;
    flex: 1;
}


.page3{
    width: 96%;

    height: 100vh;
    padding: 2%;
    background-color: #D9D9D9;

}



@media only screen and (max-width: 1024px) {
    .page1 {
        width:90%;
        height: 100vh;
    }

    .title h1 {
        
        font-size: 11vh;
        line-height: 0.9em;
        margin-bottom: 10px;
        color: #76d9df;
    }

    .right{
display: none;
    }
    .left{
        width: 80%;
        height: 100%;
    }
.pp{
    
    font-size: 25px;
    line-height: 1.5em;

}
    .page2{
        width: 100%;
        height: 120vh;
    }

    .h2{
        text-align: left;
    }
    .h3 {
        line-height: 1em;
        text-align: left;
    }

    .p{
        text-align: left;
    }
}

@media only screen and (max-width: 960px) {
    .left,
    .right {
        width: 100%;
     
    }

    .left{height: 60%;
}
    .right{
        height: 30vh;
        position: absolute;
        bottom: 10%;
        right: 2%;
    }
    .pp{
        height: 50%;
        font-size: 25px;
        line-height: 1.5em;
    }

    .page2{
        width: 100%;
        height: 120vh;
    }
.h2{
    line-height: 1.5em;
}
    .h3{
        line-height: 1em;
    }

    .services{
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        
    }
    .service {
     
        height: 35%;
        width: 80%;

        text-align: left;
    
    }
}


@media only screen and (max-width: 800px) {
    .page1 {
        width: 100vw;
    }
}

/* Para dispositivos con una resolución de 768 x 1024 px o inferior */
@media only screen and (max-width: 768px) {
    .page1 {
        width: 100vw;
        height: 90vh;
        display: flex;
    }
.left{
    height: 90%;
    width: 100%;
}
    .right {
    display: none;
    }

     .pp{
        font-size:25px;
        line-height: 1.2em;
        width: 80%;
    
    }

    .p{
        margin: auto;
    }

 .page2{
    width: 100%;
 }
 .services{
    width: 100%;
    height: 70%;
}

.service {
    width: 80%;
    margin: auto
}
.h3{
line-height: 1.5em;
}
.title2 {
    width: 100%;
    line-height: 2em;
}
}

/* Para dispositivos con una resolución de 640 x 360 px o inferior */
@media only screen and (max-width: 640px) {
    .page1 {
        width: 100%;
        height: 95vh;
    }
    .right{
        display: none;
    }

    .title {
        margin-top: 10%;
        
    }

    .title h1 {
        font-size: 50px;
    }

    .pp,
    .p {
        width: 80%;
        margin: auto;
    }
    .page2{
        width: 100%;
        height: 190vh;
    }
    .services{
        width: 100%;
        height: 70%;
    }

    .service {
        width: 100%;
    }
.h3{
    line-height: 1.5em;
}
    .title2 {
        width: 100%;
        line-height: 2em;
    }
}

/* Para dispositivos con una resolución de 360 x 640 px o inferior */
@media only screen and (max-width: 376px) {
    .page1 {
        width: 100%;
        height: 90vh;
    }

    .right{
        display: none;
    }

    .title {
        margin-top: 10%;
        
    }

    .title h1 {
        font-size: 50px;
    }

    .pp,
    .p {
        width: 80%;
        margin: auto;
    }
    .page2{
        width: 100%;
        height: 190vh;
    }
    .services{
        width: 100%;
        height: 70%;
    }

    .service {
        width: 100%;
    }
.h3{
    line-height: 1.5em;
}
    .title2 {
        width: 100%;
        line-height: 2em;
    }
}