.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 30px;
    background-color: rgb(220, 220, 220);
    padding: 3%;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.projectsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.proyect {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-top: 6%;
    width: 45%;
    box-sizing: border-box;
    border-radius: 0.5vw;
    margin-bottom: 20px; /* Añadido margen inferior para separar proyectos en columnas */
}

.image {
    width: 100%;
    height: auto;
    margin-bottom: 10px; 
    border-radius: 0.5vw;
}

.name {
    padding: 1%;
    border-bottom: 1px solid black;
    margin: 0;
    margin-bottom: 1.5%;
    font-size: 20px;
    line-height: 1.2;
    width: 99%;
    font-weight: 400;
}

.text {
    width: 100%;
    font-size: 15px;
    line-height: 1em;
    padding: 10px;
    box-sizing: border-box; 
}

.description {
    margin: 0;
}

/* Media Queries para adaptarse a diferentes tamaños de pantalla */
@media (max-width: 1200px) {
    .proyect {
        width: 48%;
    }

    .name {
        font-size: 18px;
    }

    .text {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .container{
        margin-top: 10%;
        padding-top: 10%;

    }
    .title {
        font-size: 22px;
    }

    .proyect {
        width: 100%;
    }

    .name {
        font-size: 16px;
    }

    .text {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container{
        margin-top: 20%;
        padding-top: 10%;

    }
    .title {
        font-size: 20px;
        
    }

    .proyect {
        width: 100%;
    }

    .name {
        font-size: 14px;
    }

    .text {
        font-size: 12px;
    }
}
